@media (max-width: 1164px) {}

@media (max-width: 1237px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
    .main {
        flex-direction: column;
}
.sidebar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
    align-items: flex-start;
    position: unset;
    width: 100%;
}
}

@media (max-width: 792px) {}

@media (max-width: 768px) {
    .nav_main {
        position: fixed;
        height: 100vh;
        background: var(--primary-700);
        width: 300px;
        right: -300px;
        align-items: flex-start;
        top: 92px;
        z-index: 5;
        transition: .3s cubic-bezier(1, 0.88, 0, 0.34);
        justify-content: flex-start;
        padding: 31px 0;
    }

    .nav_main ul {
        flex-direction: column;
    }

    .menu_btn {
        display: block;
    }

    .searchbar_main {
        display: flex;
        gap: 15px;
    }

    .nav_main.active {
        right: 0;
        z-index: 4;
    }
    body.active{
        overflow: hidden;
    }
    .nav_main li :is(a.active, a:hover)::after, .nav_main li :is(a.active, a:hover)::before{
        content: none;
    }
    .header_wrapper:has(.search_show) .nav_main {
      width: 300px;
    }
    .header_wrapper:has(.search_show) .nav_main a {
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }
    .latest_blog_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(231px, 1fr));
    }
 
    body::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(42 157 143 / 19%);
        top: 0;
        right: 100%;
        z-index: 4;
        opacity: 0;
        transition: .3s cubic-bezier(1, 0.88, 0, 0.34);
        pointer-events: none;
        backdrop-filter: blur(2px);
    }
    body.active::before{
        opacity: 1;
        right: 0;
        pointer-events: all;
    }
    .header_form , .header_form.search_show {
        transition: .5s  !important;
        right: 130px;
        max-width: calc(100% - 301px);
    }
    .nav_main .nav_link {
        align-items: flex-start;
        width: 100%;
        gap: 5px;
    }
    
    .nav_main .nav_link li {
        width: 100%;
    }
    
    .nav_main .nav_link li a {
        width: 100%;
        padding: 9px;
        display: block;
        padding-left: 20px;
    }
    
    .nav_main .nav_link li a.active {
        background: var(--secondary-200);
        font-family: var(--font-600);
        padding-left: 30px;
        color: var(--black);
        box-shadow: 0 0 15px #0002;
    }
    .hero_card_content{
        left: 0;
        max-width: 450px;
        padding: 20px;
    }
    .hero_slide_thumb{
        display: none;
    }
    .hero_card{
        max-height: 305px;
        height: 100%;
    }
    .hero_btn_wrapper{
        left: auto;
        right: 40px;
    }
}

@media (max-width: 640px) {
    .header_form {
        position: absolute;
        top: 50%;
        max-width: 00px !important;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -71%);
        transition-delay: 0s !important;
        z-index: 54;
        max-width: 520px !important;
    }
    
    .header_form.search_show {
        top: 50% !important;
        transform: translate(-50%, -50%);
    }
    .search_close_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        flex: 0 0 40px;
        border-left: 1px solid #b7b2b2;
        font-size: 19px;
        color: #b7b2b2;
    }
    body.bar::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(42 157 143 / 19%);
        top: 0;
        right: 0;
        z-index: 2;
        opacity: 0;
        transition: .3s cubic-bezier(1, 0.88, 0, 0.34) .1s;
        pointer-events: none;
        backdrop-filter: blur(2px);
    }
    body.bar{
        overflow: hidden;
    }
    body.bar::after{
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 616px) {}

@media (max-width: 535px) {
    .header_wrapper{
    padding: 0;
    background: transparent;
    }
    .logo_main{
        margin: 0;
        border-radius: 0;
    }
    .header {
        padding: 0;
    }
    
    .logo_main:after , .logo_main:before {
        content: none;
    }
    .nav_main {
        top: 78px;
    }

    
}

@media (max-width: 597px) {
    .cate_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(109px, 1fr));
    }
}

@media (max-width: 571px) {
    .latest_blog_wrapper {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    }
    .latest_slide{
        grid-column: span 1;
    }
    .swiper-pagination
    {
        display: none;
    }
}

@media (max-width: 509px) {}

@media (max-width: 470px) {}

@media (max-width: 465px) {}